@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
$backgroundColor: #ffffff;
$bodyColor: #363636;
$bodyFont: 'Montserrat', sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

input {
  border: none;
  // background-color: #fff;
  padding: .8em .4em;
  margin: 10px 0;
  width: inherit;
  font-family: $bodyFont;
  transition: border-left .05s;
}

input:focus{
  border-left: 4px solid #FF914D;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  .links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;

    a{
      text-align: center;
      font-size: .9em;
      font-weight: bold;
      // color: #7c7c7c;
    }

  }
}

header {
  background-image: url("/assets/Header.jpg");
  background-position: center;
  background-size: cover;

  .copy {
    text-align: center;
    padding: 1em 0;

    h2, p {
      margin: 32px 0;
    }

    p {
      font-size: .9em;
    }
  }
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1240px;
}

.btn, .btn-sm {
  display: inline-block;
  background: #FF914D;
  padding: 1em;
  font-size: .9em;
  color: #ffffff;
  font-weight: bold;
  transition: background-color .2s;
  margin: .5em 0;
}

.btn-sm {
  padding: .5em 2em;
}

.btn:hover, .btn-sm:hover {
  background-color: #FDA670;
}

.properties {
  padding: 2em 0;
  background-color: #F3F3F3;
  // scroll-behavior: smooth;

  h3 {
    background-color: #F3F3F3;
  }

  img {
    width: 100%;
  }

  .property-footer {
    position: relative;
    background-color: white;
    padding: 1em;
    line-height: 1.5em;
    margin-top: -5em;
    z-index: 10;
  }
}

.contact {
  padding: 2em 0;

  h3 {
    background-color: #fff;
  }
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

  h3 {
    padding: 0 10px;
    position: absolute;
    margin-left: 20px;
  }
  .line {
    content: '';
    border-bottom: 1px solid #FF914D;
    width: 50%;
  }
}

// .heading:after {
//   content: '';
//   position: absolute;
//   background-color: #FF914D;
//   left: 1px;
//   height: 1px;
//   width: 10px;
// }

// Accessibility for people prone to motion sickness
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
